<!-- This form extends from the base.html form. -->
{% extends "base.html" %}
{% block content %}

<!-- Imports the render_field macro from formhelp.html to assist with formating the form input fields. -->
{% from "formhelp.html" import render_field %}

<!-- Page heading. -->
<h1>Account</h1><br>

<!-- Displays agent information -->
<div class="row">
  <div class="col-sm-6" style="text-align:right">
    <span class="glyphicon glyphicon-user" style="font-size: 160px"></span>
  </div>
  <div class="col-sm-6">
    <b>Agent ID:</b><br>
    {{ agent.agent_id }}<br><br>
    <b>Agent Name:</b><br>
    {{ agent.f_name }} {{ agent.l_name }}<br><br>
    <b>Agent Email:</b><br>
    {{ agent.email }}<br><br>
  </div>
</div>

<br><hr><br>

<h3>Change password</h3><br>

<!-- Input form to change password. -->
<form action="" method="post" name="change_password">
  {{ form.hidden_tag() }}
  <!-- Form fields formatted with bootstraps' form-control class with approptiate placeholder. -->
    <p>
      {{ render_field(form.new_password, class='form-control', placeholder='Enter new password') }}
      {% for error in form.new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ render_field(form.confirm_new_password, class='form-control', placeholder='Re-enter new password') }}
      {% for error in form.confirm_new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <!-- Submit button to change password. -->
    <p align="center"><button type="submit" class="btn btn-default">Confirm</button></p>
</form>

<!-- End of this form's content. Returns to the base.html form. -->
{% endblock %}
