<!-- This form extends from the base.html form. -->
{% extends "base.html" %}
{% block content %}

<!-- Imports the render_field macro from formhelp.html to assist with formating the form input fields. -->
{% from "formhelp.html" import render_field %}

<!-- Page heading. -->
<h1>Add new listing</h1><br>

<!-- Input form to get the new tasks' title, date and description. -->
<form action="" method="post" name="add_listing">
    {{ form.hidden_tag() }}
    <!-- Form fields formatted with bootstraps' form-control class with approptiate placeholder. -->
    <p>
      {{ render_field(form.address, class='form-control', placeholder='Property address') }}
      {% for error in form.address.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ render_field(form.sale_date, class='form-control') }}
      {% for error in form.sale_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ render_field(form.sale_price, class='form-control', placeholder='Sale price') }}
      {% for error in form.sale_price.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ render_field(form.agents, class='form-control') }}
      {% for error in form.agents.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ render_field(form.owner_name, class='form-control', placeholder='Owner name') }}
      {% for error in form.owner_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ render_field(form.owner_email, class='form-control', placeholder='Owner email') }}
      {% for error in form.owner_email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <!-- Submit button to create the new task. -->
    <p align="center"><button type="submit" class="btn btn-default">Add</button></p>
</form>

<!-- End of this form's content. Returns to the base.html form. -->
{% endblock %}
