<!DOCTYPE html>

<html>

  <head>

    <!-- Links to external stylesheets for bootstrap and print.css. -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/print.css">

    <!-- Checks if there is a title set otherwise displays 'No title specified'. -->
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title> No title specified</title>
    {% endif %}

    <!-- Defines style classes and attributes. -->
    <style>
      ul#menu li {
        display:inline;
      }
      .multi {
        white-space: pre;
      }
      a:link, a:visited, a:hover, a:active{
        text-decoration: inherit;
        color: inherit;
      }
      #saledetailsbody, #saleup, #ownerdetailsbody, #ownerup{
        display: none
      }
    </style>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#saledetailshead").click(function(){
        $("#saledetailsbody").slideToggle("slow");
        $("#saledown").toggle();
        $("#saleup").toggle();
      });
      $("#ownerdetailshead").click(function(){
        $("#ownerdetailsbody").slideToggle("slow");
        $("#ownerdown").toggle();
        $("#ownerup").toggle();
      });
    });
    </script>

  </head>

  <body>
    <!-- Opens the navbar in inversed colours. -->
    <nav class="navbar navbar-inverse">
      <!-- Opens the navbar header container. -->
      <div class="container-fluid">
        <!-- Navigation tabs in the navbar. -->
        <ul class="nav navbar-nav">1
          <li><img src="/static/W.A.D_logo.png" width="100"></li>
          <li><a href="/my_listings">My Listings</a></li>
          <li><a href="/listings">All Listings</a></li>
          <li><a href="/add_listing"> Add Listing <span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>
        <!-- Navigation tabs on the RIGHT of the navbar. -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
          <li><a href="/sign_out">Sign Out</a></li>
        </ul>
      </div>
    </nav>

    <!-- Container for page content. -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

          <!-- Flash message block to display error or confirmation to user. -->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  {{ message }}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <!-- Block content from child page. -->
          {% block content %}{% endblock %}

        </div>
        <div class="col-md-3"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#222222"
    },
    "button": {
      "background": "#b0b0b0"
    }
  },
  "showLink": false,
  "theme": "edgeless",
  "position": "bottom-right"
});
</script>

  </body>

</html>
