<!-- This form extends from the base.html form. -->
{% extends "base.html" %}
{% block content %}

{% from "formhelp.html" import render_field %}

<a href="/listings">
  <p><span class="glyphicon glyphicon-arrow-left"></span> Back to listings</p>
</a>
<br>
<!-- Page heading. -->
<h1><span class="glyphicon glyphicon-home"></span> {{ listing.address }}</h1><br>

<div class="panel panel-default">
  <div class="panel-heading" id="saledetailshead"><h4>Sale details<span id="saledown" style="float:right" class="glyphicon glyphicon-chevron-down"></span><span id="saleup" style="float:right" class="glyphicon glyphicon-chevron-up"></span></h4></div>
  <div class="panel-body" id="saledetailsbody">
    <b>Date:</b> {{ listing.sale_date.strftime("%d/%m/%Y") }}<br>
    <b>Price:</b> £{{ listing.sale_price }}<br>
    <b>Agents:</b><br>
    {% for agent in agents %}
      {{ agent.f_name }} {{ agent.l_name }}<br>
    {% endfor %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" id="ownerdetailshead"><h4>Owner details<span id="ownerdown" style="float:right" class="glyphicon glyphicon-chevron-down"></span><span id="ownerup" style="float:right" class="glyphicon glyphicon-chevron-up"></span></h4></div>
  <div class="panel-body" id="ownerdetailsbody">
    <b>Name:</b> {{ listing.owner_name }}<br>
    <b>Contact email:</b> {{ listing.owner_email }}

    <form action="" method="post" name="add_listing">
        {{ form.hidden_tag() }}
        <!-- Form fields formatted with bootstraps' form-control class with approptiate placeholder. -->

        <p>
          {{ render_field(form.record, class='form-control') }}
          {% for error in form.record.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>

        <!-- Submit button to create the new task. -->
        <p align="center"><button type="submit" class="btn btn-default">Update</button></p>
    </form>

  </div>
</div>


<!-- End of this form's content. Returns to the base.html form. -->
{% endblock %}
