<!-- This form extends from the base.html form. -->
{% extends "base.html" %}
{% block content %}


<!-- Page heading. -->
<h1>My Listings</h1><br>

{% if agent.listings == [] %}

    <h3>You have no listings.<br><br>Please add a listing in the 'Add Listing +' tab.</h3>

{% else %}

  {% for listing in agent.listings %}

  <a href="/listing/{{listing.listing_id}}">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="glyphicon glyphicon-home"></span><b> {{ listing.address }}</b><span style="float:right"><b>£{{ listing.sale_price }}</b></span></div>
    <div class="panel-body">Sale date: {{ listing.sale_date.strftime("%d/%m/%Y") }}<br>Owner: {{ listing.owner_name }}<br>Owner email: {{ listing.owner_email }}</div>
  </div>
  </a>
  <!-- </a> -->
  {% endfor %}

{% endif %}

<!-- End of this form's content. Returns to the base.html form. -->
{% endblock %}
