<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sign In</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
    body {
      background-color: #222222;
    }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
</style>
</head>
<body>

<br>

<div>
  <img src="/static/W.A.D_logo.png" class="center">
</div>


{% from "formhelp.html" import render_field %}
<div class="login-form">
  <form action="" method="post" name="add_listing">

      {{ form.hidden_tag() }}

			<!-- Flash message block to display error or confirmation to user. -->
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			    <div class="alert alert-warning">
			      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			        {{ message }}
			    </div>
			    {% endfor %}
			  {% endif %}
			{% endwith %}

      <h2 class="text-center">Agent sign in</h2>
      <div class="form-group">
          {{ render_field(form.email, class='form-control', placeholder='Email') }}
					{% for error in form.email.errors %}
	        	<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
      </div>
      <div class="form-group">
          {{ render_field(form.password, class='form-control', placeholder='Password', type='password') }}
					{% for error in form.password.errors %}
	        	<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Sign in</button>
      </div>

  </form>
</div>



</body>
</html>
